{% extends "admin_base.html" %}
{% block title %}Add Teacher{% endblock %}
{% block content %}
<form method="POST">
    {{ form.csrf_token }}
    <h2 align="center">Add Teacher</h2>
    <div class="form-group">
        {{ form.email.label(class="form-control-label") }}
        {% if form.email.errors %}
            {{ form.email(class="form-control form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.email(class="form-control", placeholder="Enter Email") }}
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.username.label(class="form-control-label") }}
        {% if form.username.errors %}
            {{ form.username(class="form-control form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.username(class="form-control form-control", placeholder="Enter Name") }}
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.teacher_id.label(class="form-control-label") }}
        {% if form.teacher_id.errors %}
            {{ form.teacher_id(class="form-control form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.teacher_id.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.teacher_id(class="form-control form-control", placeholder="Enter Teacher id") }}
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.mobile.label(class="form-control-label") }}
        {% if form.mobile.errors %}
            {{ form.mobile(class="form-control form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.mobile.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.mobile(class="form-control form-control", placeholder="Enter Mobile Number") }}
        {% endif %}
    </div>
    <div class="form-group">
        <label for="gender">Gender</label>
        <select class="form-control" name="gender" id="gender">
            <option value="f">Female</option>
            <option value="m">Male</option>
        </select>
    </div>
    <div class="form-group">
        <label for="dob">Date of birth</label>
        <input type="date" class="form-control" placeholder="Date of Birth" name="dob" id="dob" value={{date}} required>
    </div>
    </br>
    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
</br>
{% endblock %}