{% extends "teacher_base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h1 align="center">Notices</h1>

{% if user.user_type=='p' %}
<form method="POST">
    <div class="form-group">
        <label for="branch">Branch</label>
        <select class="form-control" name="branch" id="branch">
            <option value="all">ALL</option>
            <option value="cse">CSE</option>
            <option value="it">IT</option>
            <option value="mech">MECH</option>
            <option value="eee">EEE</option>
            <option value="ece">ECE</option>
            <option value="civil">CIVIL</option>
        </select>
    </div>
    <div class="form-group">
        <label for="section">Section</label>
        <select class="form-control" name="section" id="section">
            <option value="all">ALL</option>
            <option value="a">A</option>
            <option value="b">B</option>
            <option value="c">C</option>
            <option value="d">D</option>
        </select>
    </div>
    <div class="form-group">
        <label for="year">Year</label>
        <select class="form-control" name="year" id="year">
            <option value="all">ALL</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
    </div>
    <textarea name="note" id="note" class="form-control"></textarea>
    </br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endif %}
{% endblock %}