{% extends "base.html" %}
{% block title %}Change Password{% endblock %}
{% block content %}
<form method="POST">
    {{ form.csrf_token }}
    <h2 align="center">Change Password</h2>
    <div class="form-group">
        {{ form.password.label(class="form-control-label") }}
        {% if form.password.errors %}
            {{ form.password(class="form-control form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.password(class="form-control form-control", placeholder="Enter Current Password") }}
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.new_password.label(class="form-control-label") }}
        {% if form.new_password.errors %}
            {{ form.new_password(class="form-control form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.new_password.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.new_password(class="form-control form-control", placeholder="Enter New Password") }}
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.confirm_password.label(class="form-control-label") }}
        {% if form.confirm_password.errors %}
            {{ form.confirm_password(class="form-control form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.confirm_password.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.confirm_password(class="form-control form-control", placeholder="Confirm New Password") }}
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
</br>
{% endblock %}

{% block navbar %}
{% if user.is_authenticated %}
<a class="nav-item nav-link" id="home" href="/">Home</a>
<a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
<a class="nav-item nav-link" id="profile" href="/profile">Profile</a>
<a class="nav-item nav-link" id="courses" href="/courses">Courses</a>
<a class="nav-item nav-link" id="attendance" href="/attendance">Attendance</a>
<a class="nav-item nav-link" id="groups" href="/groups">Groups</a>
{% else %}
<a class="nav-item nav-link" id="login" href="/login">Login</a>
<a class="nav-item nav-link" id="sign-up" href="/sign-up">Sign Up</a>
{% endif %}
{% endblock %}