{% extends "base.html" %}
{% block title %}Courses{% endblock %}
{% block content %}
</br>
</br>
</br>
<div class="card">
    <div class="card-body"><h2 align="center">{{course.course_name}}<h2></div>
    <div class="card-body">
        <i style="display: inline-block;" aria-hidden="true" class="fas fa-graduation-cap" align="center"></i>
        <h3 style="display: inline-block;" align="center">
            {{name}}
        </h3>
    </div>
</div>
</br>
</br>
<div class="card">
  <div class="card-body">
    <h2 class="card-title" align="center">Materials</h2>
    <div class="table-responsive">
        </br>
        <table class="table table-hover text-nowrap">
        <tbody>
          {% for i in materials%}
              <tr>
              <td>
                  <i class="fas fa-file-pdf fa-2x"></i>
              </td>
              <td>{{i.material}}</td>
              <td>{{times[i]}}</td>
              <td>{{sizes[i]}} bytes</td>
              <td>
                <a href="/download/{{i.material}}">
                  <button type="button" class="btn btn-dark btn-sm px-3">
                    <i class="fas fa-download"></i>
                  </button>
                </a>
              </td>
              </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% if user.user_type=='p'%}
<!-- Button trigger modal -->
</br>
</br>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Upload Matrial
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Material</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" enctype="multipart/form-data" action="{{url_for('views.add_material', course_name=course.course_name)}}">
          <p><input type="file" name="file">
              <input type="submit" value="Upload">
        </form>
      </div>
      <!--
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    -->
    </div>
  </div>
</div>
</br>
</br>
{%else%}
</br>
</br>
{% endif %}

{% endblock %}
{% block navbar %}
{% if user.user_type=='p' %}
<a class="nav-item nav-link" id="home" href="/">Home</a>
<a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
<a class="nav-item nav-link" id="attendance" href="/course/{{course.course_name}}/take_attendance">Take Attendance</a>
<a class="nav-item nav-link" id="attendance" href="/courses">Courses</a>
{% else %}
<a class="nav-item nav-link" id="home" href="/">Home</a>
<a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
<a class="nav-item nav-link" id="attendance" href="/course/{{course.course_name}}/attendance">Attendance</a>
<a class="nav-item nav-link" id="attendance" href="/courses">Courses</a>
{% endif %}
{% endblock %}

