{% extends "base.html" %}
{% block title %}Attendance{% endblock %}
{% block content %}
</br>
</br>
</br>
<div class="container">
  <div class="card card-plain">
    <div class="card-body">
      <h3 class="card-title">{{ course.course_name }}</h3>
      <br />
      <div class="table-responsive-xxl">
        <form method="POST">
          <h3 class="card-title">Lecture Date</h3>
          <input type="date" class="form-control" placeholder="Date..." name="date" value={{date}} id="date" required>
          <table class="table table-striped">
          <thead>
            <tr>
              <th class="text-center">Roll Number</th>
              <th class="text-center">Name</th>
              <th class="text-center">Mark Attendance</th>
            </tr>
          </thead>
          <tbody>
            {% for student in students_info %}
              <tr>
                <td class="td-number text-center">
                  {{ student['regno'] }}
                </td>
                <td class="td-number text-center">
                  {{ student['name'] }}
                </td>
                <td class="td-number text-center">
                  <div class="form-check disabled">
                    <label class="form-check-label">
                    {% if student['present_status'] %}
                    <input value="true" class="form-check-input" type="checkbox" name="{{ student['regno'] }}" checked>
                      <span class="form-check-sign">
                        <span class="check"></span>
                      </span>
                    {% else %}
                    <input value="true" class="form-check-input" type="checkbox" name="{{ student['regno'] }}">
                      <span class="form-check-sign">
                        <span class="check"></span>
                      </span>
                    {% endif %}
                    </label>
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
          </table>
          <button type="submit" class="btn btn-success btn-raised btn-lg">Post Attendance</button>
        </form>
      </div>
    </div>
  </div>
</div>
</br>
</br>
{% endblock %}
