{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h1 align="center">Notices</h1>
<ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item">
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">VVIT</a>
                <small class="text-muted">{{ note.date }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ note.user_id }}</a></h2>
            <p class="article-content">{{ note.data }}</p>
            </div>
        </article>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}