{% extends "base.html" %}
{% block title %}Attendance{% endblock %}
{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<h1 align="center" style="color: green;">Progress</h1>
<h2 style="color: indianred;font-family:Georgia, 'Times New Roman', Times, serif;">{{ user.first_name }}</h2>
<br>
<div class="container">
  <div class="card mb-3" style="border: lightgreen 3px solid;">
      <div class="card-header" style="background-color:lightcyan;">
        <h4 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Aggregate ,{{total}}%</h4>
        <div class="progress" style="height: 20px;">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: {{total}}%" aria-valuenow="{{total}}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>  
      <div class="card-body">
        <div class=card-text>
        <br>
        {% for course in attendance_percentages %}
        <h4 style="font-family:Arial, Helvetica, sans-serif;">{{course.course_name}} ,{{attendance_percentages[course]}}%</h4>
        <div class="progress" style="height: 20px;">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: {{attendance_percentages[course]}}%" aria-valuenow="{{attendance_percentages[course]}}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <br>
        {% endfor %}
        </div>
      </div>
  </div>
</div>  
<!--{% for course_name in attendance_percentages %}
    <h4 style="font-size: 200%;font-family:Georgia, 'Times New Roman', Times, serif">{{course_name}}</h4>
    <div class="progress">
        <div class="progress-bar bg-success progress-bar-striped active" role="progressbar" style="width: {{attendance_percentages[course_name]}}%" aria-valuenow="{{attendance_percentages[course_name]}}" aria-valuemin="0" aria-valuemax="100"></div>
        <p style="font-size: 250%;padding-left:5px;">  {{attendance_percentages[course_name]}}%</p>
    </div>
<br>
{% endfor %}-->
{% endblock %}
{% block navbar %}
{% if user.is_authenticated %}
<a class="nav-item nav-link" id="home" href="/">Home</a>
<a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
<a class="nav-item nav-link" id="profile" href="/profile">Profile</a>
<a class="nav-item nav-link" id="courses" href="/courses">Courses</a>
<a class="nav-item nav-link" id="attendance" href="/attendance">Attendance</a>
<a class="nav-item nav-link" id="groups" href="/groups">Groups</a>
{% else %}
<a class="nav-item nav-link" id="login" href="/login">Login</a>
<a class="nav-item nav-link" id="sign-up" href="/sign-up">Sign Up</a>
{% endif %}
{% endblock %}
