{% extends "teacher_base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h1 align="center">Notices</h1>
</br>
{% for note in notes %}
    <div class="card shadow-3-strong mb-3">
        <div class="card-header">
            <i style="display: inline-block;" aria-hidden="true" class="fas fa-graduation-cap"></i>
            <h3 style="display: inline-block;">
                VVIT
            </h3>
            <p style="display: inline-block; float:right">
                {{note.date}}
            </p>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ note.user_name }}</h5>
            <p class="card-text">
                {{note.data}}
            </p>
        </div>
    </div>
    </br>
{% endfor %}
</br>
{% endblock %}