{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h1 align="center">Profile</h1>
<h2 >{{ user.first_name }}</h2>
{% for stu in user.student %}
    <h2>{{ stu.regno }}</h2>
    <h2>{{ stu.year }}</h2>
    <h2>{{ stu.branch }}</h2>
{% endfor %}
{% for t in user.teacher %}
    <h2>Class:</h2>
    {% for teach in t.teachings %}
        <h2>{{ teach.subject }}</h2>
        <h2>{{ tech.year }}</h2>
        <h2>{{ teach.branch }}</h2>
        <h2>{{ teach.section }}</h2>
    {% endfor %}
{% endfor %}
{% endblock %}